.auth{
    background-image: url("https://media.istockphoto.com/id/481174796/photo/redang-island-malaysia.jpg?s=612x612&w=0&k=20&c=Ct3Gn5vITZCdE6MK-5jNIZahgCN1O8-TynSzSaozyGo=");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}